root {
    --white: #FFFFFF;
    --black: #202020;
    --gray: #4F4F4F;
    --violet: #5528FF;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.wrapper h2 {
    position: absolute;
    padding: 5px 15px;
    top: -24px;

    font-weight: 300;
    font-size: 14px;
    line-height: 16px;

    color: #C2C2C2;
    background-color: #FFFFFF;
}
.wrapper {
    width: 100%;
    max-width: 1180px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.header__menu li {
    padding-right: 37px;
    margin: 0;
}

.header__menu li:last-child {
    padding-right: 0;
}

.header__menu li a {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    margin: 0;

    color: var(--black);
}

/* Hero section styles */

.hero {
    margin-top: 117px;
    padding-bottom: 100px;
}

.hero__title {
    font-weight: bold;
    font-size: 55px;
    line-height: 65px;
    margin: 0;
    padding-bottom: 35px;

    color: var(--black);
}

.hero__description {
    width: 741px;
    margin: 0;
    padding-bottom: 70px;

    font-size: 32px;
    line-height: 51px;

    color: var(--gray);
}

.hero__btn {
    padding: 16px 58px;

    font-size: 24px;
    line-height: 28px;
    text-decoration: none;

    color: #FFFFFF;
    background: #5528FF;
    border-radius: 10px;
}
.services__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 82px;
}

.services__item__text {
    padding-left: 40px;
}

.services__item__text h3 {
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    margin: 0;
    padding-bottom: 17px;
    color: #000000;
}

.services__item__text p {
    width: 292px;
    font-size: 14px;
    line-height: 16px;
    margin: 0;

    color: #B2B2B2
}
